.App {
    display: grid;
    grid-template-areas:
    "Header"
    "Main"
    "Footer";

    font-family: Marmelad-Regular;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}


@font-face {
    font-family: "Marmelad-Regular";
    font-style: normal;
    font-weight: normal;

    src: local("Marmelad-Regular"),
    url("./font/Marmelad-Regular.ttf") format("truetype");
}